<!DOCTYPE html>
<html>
    <head>
        <title>Leaderboard</title>
        <link rel="stylesheet" type="text/css" href="/public/css/style.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Limelight&family=Special+Elite&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <h1> PinPop Trivia! </h1>
        </header>
        <div class = "navbar"> 
            <a class = "navButton" href = "home.ejs">Home</a>
            <a class = "navButton" href = "leaderboard.ejs">Leaderboard</a>
            <a class = "navButton" href = "weeklyQuiz.ejs">Weekly Quiz</a>
            <a class = "navButton" href = "quiz.ejs">Quizzes</a>
            <a class = "navButton" href = "freeplay.ejs">Freeeplay</a>
            <a class = "navButton" href ="suggest.ejs">Suggest</a>
            <a class = "navButton" href ="login.ejs">Login</a>
        </div>
        <div id = "colDisplay"> <img src = "/public/css/images/catError.webp"></div>
        <p class = "bdyHead"> Oh no! This page isn't available yet.</p>
    </body>
</html>