<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/public/css/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Pin Pop Trivia</title>
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Limelight&family=Special+Elite&display=swap" rel="stylesheet">
</head>
<body>

  <header class = "header">
    <h1>PinPop Trivia</h1> 
  </header>
  <div class = "navbar"> 
    <a class = "navButton" href = "home.ejs">Home</a>
    <a class = "navButton" href = "leaderboard.ejs">Leaderboard</a>
    <a class = "navButton" href = "weeklyQuiz.ejs">Weekly Quiz</a>
    <a class = "navButton" href = "quiz.ejs">Quizzes</a>
    <a class = "navButton" href = "freeplay.ejs">Freeeplay</a>
    <a class = "navButton" href ="suggest.ejs">Suggest</a>
    <a class = "navButton" href ="login.ejs">Login</a>
</div>

  <div class="form-container">
    <h2>Login</h2>
    <form id="loginForm" onsubmit="handleLogin(event)">
      <label for="login-email">Email:</label>
      <input type="email" id="login-email" name="email" required>
      <label for="login-password">Password:</label>
      <input type="password" id="login-password" name="password" required>
      <button type="submit">Login</button>
    </form>
  </div>

  <script>
    // Function to handle the login process
    function handleLogin(event) {
      event.preventDefault();  // Prevent page reload on form submit

      const email = document.getElementById('login-email').value;
      const password = document.getElementById('login-password').value;

      // Send a POST request with the email and password to verify the login credentials
      fetch('/login', {  
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ email, password }),
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          // Redirect to home page if login is successful
          window.location.href = 'home_page.html';
        } else {
          alert('Invalid email or password');
        }
      })
      .catch(error => {
        console.error('Error during login:', error);
        alert('An error occurred. Please try again later.');
      });
    }
  </script>
</body>
</html>
